# Standards: 1.1.5
# https://raw.githubusercontent.com/HarryHarcourt/Ansible-RHEL7-CIS-Benchmarks/master/tasks/level-1/5.4.2.yml
---

# 5.4.2 Ensure system accounts are non-login

- name: 5.4.2 - Retrieve system accounts
  shell: "awk -F: '($3 < 500) {print $1 }' /etc/passwd | grep -v ^#"
  register: audit_5_4_2
  check_mode: no
  changed_when: False
  tags:
    - level-1
    - section-5
    - "5.4.2"
    - scored
    - skip_ansible_lint

- name: 5.4.2 - Lock system user passwords
  shell: "usermod -L {{ item }}"
  with_items:
    - "{{ audit_5_4_2.stdout_lines|default([]) }}"
  when: item != "root"
  changed_when: false
  tags:
    - level-1
    - section-5
    - "5.4.2"
    - scored
    - skip_ansible_lint

- name: 5.4.2 - Ensure system accounts are non-login
  user:
    name: "{{ item }}"
    shell: "/sbin/nologin"
  with_items:
    - "{{ audit_5_4_2.stdout_lines|default([]) }}"
  tags:
    - level-1
    - section-5
    - "5.4.2"
    - scored
